{% extends "::layout.html.twig" %}

{% block title %}
	Connexion - {{parent()}}
{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{error.message}}</div>
	{% endif %}
	
	<form action="" method="post">
		<label for="username">Login :</label>
		<input type="text" id="username" name="_username" value="{{ last_username}}" />
		<label for="password">Mot de pass :</label>
		<input type="password" id="password" name="_password" />
		<br />
		<input type:"submit" value="Connexion" />
	</form>
{% endblock %}